@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@800&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajas-flex-grand{
    margin-top: 50px;
}
.caja-centrar-int h1{
    color: #fff;
    display: flex;
    text-align: center;
    font-size: 40px;
    font-family:'Poppins', sans-serif;
}

.formulario{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-style: solid;
    border-width: .5px;
    border-color: #fff;
    margin: 0px;
}

.boton{
    font-family:'Poppins', sans-serif;
    background-color: #fff;
    width: 40%;
    color: black;
    font-weight: 600;
    border: 0;
    height: 40px;
    margin: 20px;
}


label{
    color: #fff;
    margin: 20px 20px 0px 20px;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
}
.datos{
    font-size: 90%;
    color: #ffffff;
    width: 70%;
    height: 30px;
    margin: 10px 10px 10px 40px;
    padding: 10px;
    border: none;
    background-color: #262626;
    border-style: solid;
    border-width: .5px;
    border-color: #fff;
    border-radius: 1px;
}



.contenido{
    width: 100%;
    border: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.caja-centrar-int{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0px 0px 10px;
    margin: 0%;
}
.textos{
    display: flex;
    flex-direction: column;
}
.textos a{
    color: #fff;
    font-size: 15px;
    padding: 10px 0px 10px;
    text-align: center;
    font-family:'Poppins', sans-serif;
}
.Bienvenido{
    display: none;
}

 /*   AQUÍ COMIENZA EL FOOTER   ---------  */


 footer{
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items:  center;
    text-align: center;
    padding: 80px 0px 30px;
   }
  
  .img-footer{
      width: 20px;
      height: auto;
  }
  .caja-nosotros h2   {
      color: #fff;
      margin: 0%;
     
  }
  .caja-nosotros h2 {
      color: #fff;
      font-size: 20px ;
      font-family:'Poppins', sans-serif;
  }
  .caja-insta{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  .logo-footer h2{
    color: #fff;
    font-family: 'Cedarville Cursive', cursive;
}
 .caja-insta a{
      margin: 0%;
      text-decoration: none;
      color: #fff;
      font-family:'Poppins', sans-serif;

  }
  
  /* AQUÍ TERMINA EL FOOTER --------- */




@media screen and (min-width: 972px){

    
    body{
        background-image: url("https://img.freepik.com/fotos-premium/mesa-madera-vacia-anb-abstract-blur-aeropuerto-interior-backgounrd_1627-5403.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .cajas-flex-grand{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   }

    .caja-centrar-int h1{
        color: #fff;
        display: flex;
        text-align: center;
        font-size: 35px;
        font-family:'Poppins', sans-serif;
    }

    .formulario{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;  
        padding: 0%;
        border: 0;
        border-right: solid #ffffff .1px;
    }

    .boton{
        margin: 20px;
        width: 50%;
        font-family:'Poppins', sans-serif;
    }


    label{
        width: 70%;
        height: auto;
        margin-top: 20px;
        font-size: 18px;
        font-family:'Poppins', sans-serif;
    }

    .datos{
        font-size: 16px;
        color: #fff;
        display: block;
        width: 70%;
        height: 40px;
        margin: 10px 10px 10px 0px;
        padding: 10px;
        border: none;
        background-color: none;
        border-radius: 1px;
    }

    .contenido{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-style: solid;
        border-color: #fff;
        border-width: .5px;
        background-color: #000000;
        opacity: .9;
    }
    .textos{
        align-items: center;
        justify-content: start;
    }
    .Bienvenido{
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 50px;
        font-family:'Poppins', sans-serif;
    }
    .info{
        width: 50%;
        height: auto;
        justify-content: start;
    }


  footer{
    margin-bottom: 0%;
  }
}
    
    